@font-face {
  font-family: Heming;
  src: url(../assets/fonts/Heming\ Variable.ttf);
}

body {
  font-family: Heming, sans-serif;
  margin: 0;
  padding: 0px;
  display: grid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  position: relative;
}
