@font-face {
  font-family: Heming;
  src: url(../assets/fonts/Heming\ Variable.ttf);
}

body {
  font-family: Heming, sans-serif;
  margin: 0;
  padding: 0px;
  display: grid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  position: relative;
}

.main-grid {
  margin: 20px;
  height: calc(100vh - 40px);
  gap: 1px;
  background-color: #e2e2e2;

  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas:
    "chat weather mail"
    "chat calendar news"
    "chat calendar settings";
}
.main-grid > .grid-item {
  background: white;

  /* Prevent the item from expanding beyond its grid area */
  min-height: 0;
  min-width: 0;

  max-height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}